<% content_for :leftbar do %>
  <div class="row"><br/></div>
  <div class="patient-list short">
    <% Patient.not_discharged.each do |patient| %>
      <div class="patient">
        <%= patient.name %> 
        <%= link_to "Add", "#" %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :rightbar do %>
  <div class="row span2"><br/></div>
  <div class="row span2"> 
    <% Team.all.each do |team| %>
      <p><%= team.name %></p>
    <% end %>
    <button>Add Team</button>
  </div>
<% end %>

<% content_for :main do %>
    <div class="patients-headers row span8">
      <div class="span2">Risk Level</div>
      <div class="span2">Name</div>
      <div class="span2">Ward</div>
      <div class="span2">Task List</div>
    </div>
    <div class='patients row'>
      <%= render :partial => "patient_list", :collection => Patient.not_discharged, :as => :patient %>
    </div>
<% end %>
