<% content_for :leftbar do %>
  <div class="list">
    <% Patient.not_discharged.each do |patient| %>
      <div class="list-item patient short">
        <%= patient.name %> 
        <%= link_to "Add", "#" %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :rightbar do %>
  <div class="list"> 
    <% Team.all.each do |team| %>
      <div class="list-item">
        <p><%= team.name %></p>
      </div>
    <% end %>
    <button>Add Team</button>
  </div>
<% end %>

<% content_for :main do %>
    <div class="list full">
      <%= render :partial => "patient_list", :collection => Patient.not_discharged, :as => :patient %>
    </div>
<% end %>
