<% @audits.group_by{ |audit| audit.date }.sort.reverse.each do |date, audits| %>
  <thead>
    <tr class="info" >
      <th colspan="3">
        <%= date %>
      </th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Details</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
  <% audits.sort{ |x,y| x.audit.created_at <=> y.audit.created_at }.reverse.each do |audit| %>
    <tr>
      <td>
        <%= audit.action %>
      </td>
      <td>
        <%= audit.details %>
      </td>
      <td><%= audit.formatted_time %></td>
    </tr>
  <% end %>
  </tbody>
<% end %>
