<div id="main">

  <h2><%= @patient.name %> Patient History</h2>

  <table class="history">
    <%= render partial: "history", locals: { patient_audits: @patient.associated_audits } %>
  </table>

</div>
