/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require_tree .
*/

@import "bootstrap";

body {
  padding-top: $baseLineHeight * 3;
}

fieldset {
  margin-bottom: $baseLineHeight;
}

.nav-table {
  border: 1px solid $tableBorder;
  @include border-radius($baseBorderRadius);
}

.nav-table-cell {
  background-color: $tableBackground;
  border-bottom: 1px solid $tableBorder;
  padding: $paddingLarge;

  &:nth-child(odd) {
    background-color: $tableBackgroundAccent;
  }

  &:last-child {
    border-bottom: 0;
  }

  form {
    margin-bottom: 0;
  }
}

// Bootstrap extension
.table thead tr {
  &.success th {
    background-color: $successBackground;
  }
  &.error th {
    background-color: $errorBackground;
  }
  &.warning th {
    background-color: $warningBackground;
  }
  &.info th {
    background-color: $infoBackground;
  }
}

@import "bootstrap-responsive"
