// Place all the styles related to the Handovers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.handover {
  h3 {
    margin-bottom: 10px;
  }

  .select {
    margin-bottom: 20px;
  }
}

.handover-patient {
  ul {
    margin-bottom: 20px;
  }
}
