// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
  margin: 0;
} 

.patients {
  margin: 0;

  div {
    background: #dedede;
    margin: 0;
    .row { 
      margin: 0;
    }
  }
}  

.patient {
  border: 1px solid black;
  margin-bottom: 5px;
  .risk-level {
    input, label {
      display: inline;
    }
  }
} 

form.to_do_item .input {
  display: inline;
}

ul.todo-list {
  li {
    form {
      display: inline;
    }
  }
}

.drag-handle {
  font-size: 1.4em;
  font-weight: bold;
  cursor:move;
  opacity: .1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

tr:hover .drag-handle {
  opacity: .7;
}


