@import "bootstrap/mixins";
@import "bootstrap/variables";

.add-patient-form {
  .pull-right {
    display: inline-block;

    > .btn {
      display: block;
      float: none;
      max-width: 100%;

      & + .btn {
        margin-left: 0;
        margin-top: 2px;
      }
    }
  }
}

.patient-detail {
  border: 1px solid $grayLighter;
  margin-bottom: $baseLineHeight * 2;
  padding: 6px;

  @include clearfix();
}

.patient-detail-header {
  background-color: $grayLighter;
  padding: $paddingLarge;
  @include clearfix();
}

.patient-details {
  float: left;

  h2 {
    line-height: 1;
    margin-top: 0;
  }

  dl {
    margin-bottom: 0;
  }
}

.patient-membership-actions {
  float: right;
}

.patient-detail-risk-level {
  @include gradient-striped(#ee5f5b);
  padding: 6px 19px;

  form {
    margin-bottom: 0;
  }

  .radio.inline {
    padding-top: 0;
  }
}

.risk-level-low .patient-detail-risk-level {
  @include gradient-striped(#62c462);
}

.risk-level-medium .patient-detail-risk-level {
  @include gradient-striped(lighten($orange, 15%));
}

.patient-detail-tasks {
  padding-top: 6px;

  form {
    margin-bottom: 0;
  }

  .well {
    margin-bottom: 0;

    h4 {
      margin-top: 0;
    }
  }

  .span6 {
    margin-left: 0;
  }
}

.patient-tasks {
  border: 1px solid $tableBorder;
  @include border-radius($baseBorderRadius);

  .nav-header {
    background-color: $tableBackgroundAccent;
    border-bottom: 1px solid $tableBorder;
  }
}

.patient-task {
  background-color: $tableBackground;
  border-bottom: 1px solid $tableBorder;
  padding: 3px 15px;

  @include clearfix();

  &:last-child {
    border-bottom: 0;
  }
}

.patient-other-tasks {
  margin-top: $baseLineHeight;

  .accordion {
    margin-bottom: 0;
  }
}

.patient-task-actions {
  text-align: right;

  .control-group {
    margin-bottom: 0;
  }

  select {
    margin-bottom: 4px;
    width: 120px;
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 979px) {
  .patient-detail-header {
    form {
      margin-bottom: 0;
    }

    .patient-details {
      width: 100%;
    }

    .patient-membership-actions {
      margin-top: 6px;
    }
  }

  .patient-detail-tasks > .span3, .patient-detail-tasks > .span6 {
    width: 524px;
  }

  .patient-tasks, .patient-other-tasks {
    margin-top: 6px;
  }
}
