// Place all the styles related to the PatientHistory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "sections";

.history {
  th, td {
    border-right: 1px solid rgba(0,0,0,.05);
    padding: 10px;

    &:last-child {
      border-right: 0;
    }
  }

  th {
    background-color: $pastel_grey;
  }

  .history-date {
    background-color: $pastel_pink;
    border-right: 0 !important;
  }

  tr {
    td {
      background-color: $pastel_yellow;
    }

    &:nth-child(even) td {
      background-color: lighten($pastel_yellow, 5%);
    }
  }
}
