@import "compass/reset";

$blueprint_grid_columns: 12;
$blueprint_grid_width: 80px;
$blueprint-grid-margin: 10px;
 
@import "blueprint";

body {
  margin-left: 20px;
  margin-right: 20px;

  h2 {
    font-size: 24px;
  }
}

.navbar {
  background: #fff;
  border-bottom: 1px solid #dedede;
}

.navbar-inner {
  border: none;
  background: #fff;
}

.navbar .nav > li {
  a {
    &:hover, &:active, &:link {
      text-shadow:none;
    }
  }
  &:first-child {
    /* margin-left: -9px; //line up the left side */
  }
}
 
.container {
  padding-top: 40px;
  #leftbar {
    @include column(2); 
  }
  #main {
    @include column(8); 
  } 
  #rightbar {
    @include column(2, true);
  }
}

.list {
  .list-item {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid black;
    background: #dedede;

    &.patient.full {
      overflow: auto;

      .risk-level, .patient-name, .ward, .task-list {
        width: 20%;
        float: left;
      }
    }
  }
}