@import "compass/reset";

$blueprint_grid_columns: 12;
$blueprint_grid_width: 80px;
$blueprint-grid-margin: 10px;
 
@import "blueprint";

body {
  margin-left: 20px;
  margin-right: 20px;
}
 
.container {
  #leftbar {
    @include column(2); 
  }
  #main {
    @include column(8); 
  } 
  #rightbar {
    @include column(2, true);
  }
}

.list {
  .list-item {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid black;
    background: #dedede;
  }

  /* &.patient.full { */
  /*   .risk-level { */
  /*     input, label { */
  /*       display: inline; */
  /*     } */
  /*   } */
  /* } */
}